<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travelgram</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:each="post : ${posts}">
    <div>
        <p th:text="${post.created}"></p>
        <img th:src="${post.image}">
        <p th:text="${post.description}"></p>
        <p th:text="${post.country.displayName}"></p>
        <form th:action="@{/addComment}" method="post">
            <input type="hidden" th:name="postId" th:value="${post.id}"/>
            <input type="text" name="commentText" placeholder="Dodaj komentarz"/>
            <button type="submit">Dodaj komentarz</button>
        </form>
    </div>
    <div th:each="comment : ${post.comments}">
        <div>
            <p th:text="${comment.created}"></p>
            <p th:text="${comment.text}"></p>
        </div>
    </div>
</div>

</body>
</html>