<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div>
    <form action="#" th:action="@{/register}" th:object="${userCreateRequest}" method="post">
        <fieldset>
            <legend>Zarejestruj się</legend>
            <input type="text" th:field="*{username}" placeholder="Username" required>
            <input type="password" th:field="*{password}" placeholder="Password" required>
            <span th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0].defaultMessage}"
                  class="error"></span>
            <button type="submit">Zarejestruj</button>
        </fieldset>
    </form>
</div>

</body>
</html>